body, html {
    color: dimgrey;
    font-family: 'Poppins', sans-serif;
}

.meal-box .photo-frame {
    overflow: hidden;
}

.meal-box:hover .photo-frame img {
    /* border: 1px solid #5353e2;
            border-radius: 50%;
            box-shadow: 5px 5px 10px dimgrey; */
    transform: scale(1.2);
    transition: transform 2s;
}

.meal-box a {
    text-decoration: none;
    border: 1px solid #dfd6d6;
    border-radius: 5px;
    padding: 0 10px;
}

.meal-box a:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}

.meal-box a:focus {
    border: 1px solid blue;
}


/* 4k Device */
/* @media (width: 2560px) {

} */

/* Laptop/lg Device */
/* @media (width: 1440px) {

} */

/* Laptop/sm Device */
/* @media (width: 1024px) {

} */

/* Tablet Device */
/* @media (width: 768px) {

} */

/* Mobile/lg Device */
/* @media (width: 425px) {

} */

/* Mobile/md Device */
/* @media (width: 375px) {

} */

/* Mobile/sm Device */
/* @media (width: 320px) {

} */